<header class="header">
    <div class="header-content">
      <h1 class="header-title">Mi perfil</h1>
      <div class="header-buttons">
        <button routerLink="/crearPublicaciones" class="action-button login-button">
          crear publicacion
        </button>
        <button routerLink="/publicaciones" class="action-button register-button">
          publicaciones
        </button>
      </div>
    </div>
  </header>

  <main class="main-content">
    <section class="publicaciones-container">
        <div class="perfil-info">
          <img src= {{fotoUsuario}} alt="Foto de perfil" class="foto-perfil" />
          <div class="info">
            <span class="nombre-perfil">{{ nombreUsuario }}</span>
          </div>
        </div>
    </section>
  </main>