<header class="header">
    <div class="header-content">
      <h1 class="header-title">Crear Publicaciones</h1>
      <nav class="header-buttons">
        <button routerLink="/inicioPerfil" class="action-button login-button">Inicio</button>
        <button routerLink="/publicaciones" class="action-button register-button">Publicaciones</button>
      </nav>
    </div>
  </header>
  
  <main class="main-content">
    <section class="crear-publicacion-container">
      <div class="perfil-info">
        <img src = {{fotoUsuario}} alt="Foto de perfil" class="foto-perfil" />
        <span class="nombre-perfil">{{ nombreUsuario }}</span>
      </div>
      <textarea [(ngModel)]="nuevaPublicacion" placeholder="Escribe tu publicación aquí..." rows="3" class="textarea-contenido"></textarea>
      <button (click)="agregarPublicacion()" class="btn-publicar">Publicar</button>
    </section>
  </main>