<div class="card-publicacion">
    <div class="card-body">
      <div class="autor-info">
        <img class="avatar" src="https://via.placeholder.com/50" alt="Avatar del autor">
        <div>
          <h4>{{ autor }}</h4>
        </div>
      </div>
  
      <h2 class="titulo">{{ titulo }}</h2>
      <p class="contenido">{{ contenido }}</p>
  
      <div class="acciones">
        <button class="btn-like" (click)="meGusta()">
          <i class="fas fa-thumbs-up"></i> Me gusta
        </button>
        <button class="btn-share" (click)="compartir()">
          <i class="fas fa-share"></i> Compartir
        </button>
      </div>
    </div>
  </div>