<form
  class="col-md-6 offset-3 mt-4"
  [formGroup]="postForm"
  (ngSubmit)="createPost()"
>
  <div class="form-group">
    <label for="text">Texto de la publicación</label>
    <textarea
      id="text"
      formControlName="text"
      class="form-control"
      placeholder="Escribe tu publicación"
    ></textarea>
    <div
      *ngIf="postForm.get('text')?.invalid && postForm.get('text')?.touched"
      class="text-danger"
    >
      <small *ngIf="postForm.get('text')?.errors?.['required']"
        >El texto es obligatorio</small
      >
      <small *ngIf="postForm.get('text')?.errors?.['minlength']"
        >El texto debe tener al menos 20 caracteres</small
      >
    </div>
  </div>

  <div class="form-group">
    <label for="image">Imagen</label>
    <input
      type="file"
      id="image"
      (change)="onFileSelected($event)"
      class="form-control-file"
      accept="image/*"
    />
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="postForm.invalid">
    Publicar
  </button>
</form>
